# Configuración de IA
LM_STUDIO_URL=http://host.docker.internal:11434
DEFAULT_MODEL=tinyllama

# Configuración de Base de Datos
DB_HOST=postgres
DB_USER=oracle
DB_PASS=0r4cl3P4ss2026
DB_NAME=oracledb

# Otros
ENGINE_PORT=8000
